@page
@model ShopexCoreV2.Pages.AddProductModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="~/js/jquery-ui/js/jquery-ui-1.10.3.custom.min.js">
    <link rel="stylesheet" href="~/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/neon-core.css">
    <link rel="stylesheet" href="~/css/neon-theme.css">
    <link rel="stylesheet" href="~/css/neon-forms.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/shopex.css" />
    <script src="~/js/jquery-1.11.0.min.js"></script>
</head>
<body class="page-body">
    <div class="page-container">
        <div class="sidebar-menu">
            <header class="logo-env">
                <div class="logo">
                    <a asp-page="Products">
                        <img src="~/images/JouhariLogo.jpg" width="120" alt="" />
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a href="#" class="with-animation">

                        <i class="entypo-menu"></i>
                    </a>
                </div>
            </header>

            <ul id="main-menu" class="">
                <li id="search">
                    <form method="get" action="">
                        <input type="text" name="q" class="search-input" placeholder="Search" />
                        <button type="submit">
                            <i class="entypo-search"></i>
                        </button>
                    </form>
                </li>
                <li class="active">
                    <a asp-page="products">
                        <i class="entypo-tag"></i>
                        <span>Products</span>
                    </a>
                </li>
                <li>
                    <a  asp-page="Login">
                        <i class="entypo-logout"></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <h1>Login To Publish you product On the Store</h1>
        <div class="main-content">
            <form method="post" role="form" id="register" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">

                        <ol class="breadcrumb bc-3">
                            <li>
                                <a asp-page="Products"><i class="entypo-home"></i>Home</a>
                            </li>
                            <li class="active">
                                <strong>products</strong>
                            </li>

                        </ol>
                    </div>

                </div>


                <!-- Product Details -->
                <div class="row">
                    <hr />

                    <!-- Section Description -->
                    <div class="col-md-3">
                        <h3 class="margin-top-none">Product details</h3>
                        <p>
                            Provide a title and a description for the product.
                            And specify a type and a vendor to categorize this product.
                        </p>
                    </div>

                    <!-- Section Contents -->
                    <div class="col-md-9">
                        <!-- title -->
                        <label class="h5 margin-top-none">Title</label>
                        <input type="text" class="form-control input-lg" name="title"
                               placeholder="e.g. Samsung Galaxy S5, Green Pants">
                        <div class="margin-bottom"></div>

                        <!-- Description -->
                        <label class="h5">Description</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="form-control wysihtml5"
                                          rows="10" data-stylesheet-url="assets/css/wysihtml5-color.css"
                                          name="description" id="post_content"></textarea>
                            </div>
                        </div>
                        <div class="margin-bottom"></div>

                        <!-- Type and Vendor-->
                        <div class="row">

                            <!-- Type -->
                            <div class="col-sm-6">
                                <label class="h5">Type</label>
                                <span>to categorize the product</span>
                                <select name="type" class="select2"
                                        data-allow-clear="true" data-placeholder="Select type...">
                                    <option></option>
                                    <optgroup label="Electronics">
                                        <option>Smart Phones</option>
                                        <option>Laptops and PCs</option>
                                        <option>Tablets</option>
                                        <option>Televisions</option>
                                    </optgroup>
                                    <optgroup label="Fashion">
                                        <option>Pants</option>
                                        <option>Tshirts</option>
                                        <option>Shoes</option>
                                        <option>Jackets</option>
                                    </optgroup>
                                </select>
                            </div>




                        </div>
                        <div class="margin-bottom"></div>

                        <!-- Model Numbers and Barcodes -->
                        <div class="row">

                            <!-- Model Numbers -->
                            <div class="col-sm-6">
                                <label class="h5">Model numbers</label>
                                <span>to help identify this product</span>
                                <input type="text" name="model" value="MC123,MC112,MC114,MC114,MCS433" class="form-control tagsinput" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="h5 margin-top-none">Price</label>
                                <div class="input-group">
                                    <span class="input-group-btn ">
                                        <button class="btn btn-default input-lg disabled"
                                                type="button">
                                            AED
                                        </button>
                                    </span>
                                    <input type="text" name="price" value="100" class="form-control input-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product Images -->
                <div class="row">
                    <hr />

                    <!-- Section Description -->
                    <div class="col-md-3">
                        <h3 class="margin-top-none">Images</h3>
                        <p>Upload the product images, you can reorder them later.</p>
                    </div>

                    <!-- Section Contents -->
                    <div class="col-md-9">
                        <input type="file" name="ImagePath"
                               class="form-control file2 inline btn btn-primary" />
                    </div>

                </div>

                <div class="row">
                    <!-- Action Buttons -->
                    <div class="col-md-4">
                        <div class="pull-right">
                            <a class="btn btn-default" asp-page="products">Cancel</a>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <link rel="stylesheet" href="~/js/wysihtml5/bootstrap-wysihtml5.css">
    <link rel="stylesheet" href="~/js/selectboxit/jquery.selectBoxIt.css">
    <link rel="stylesheet" href="~/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="~/js/select2/select2.css">
    <script src="~/js/select2/select2.js"></script>
    <script src="~/js/gsap/main-gsap.js"></script>
    <script src="~/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/joinable.js"></script>
    <script src="~/js/resizeable.js"></script>
    <script src="~/js/neon-api.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/neon-login.js"></script>
    <script src="~/js/neon-custom.js"></script>
    <script src="~/js/neon-demo.js"></script>
</body>
</html>
